.student-form {
    background-color: #212529;
    padding: 20px;
    border-radius: 15px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.student-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.student-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 5px;
    border: none;
    background-color: #343a40;
    color: #FFFFFF;
}

.student-form input::placeholder {
    color: #CED4DA;
}

.student-form button[type="submit"] {
    background-color: #0d6efd;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.student-form button[type="submit"]:hover {
    background-color: #0a58ca;
}

.student-h2 {
    color: #212529;
    margin-bottom: 20px;
    font-size: 30px;
}

.student-link {
    color: #0000FF;
}