.course-details-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 20px;
    margin-top: 30px;
}

.course-h2 {
    margin-top: 0px;
    font-family: cursive;
    font-weight: bolder;
    font-size: 2em;
}

.course-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.course-h2 {
    margin: 0;
    font-size: 30px;
    color: #212529;
}

.delete-course-button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.delete-course-button:hover {
    background-color: #c82333;
}


.course-instructor {
    margin-bottom: 20px;
}

.course-instructor h3 {
    margin: 10px;
}

.course-students {
    margin: 30px 10px 10px 10px;
}

.course-students ul {
    list-style-type: none;
    padding-left: 0;
}

.course-students li {
    display: flex;
    justify-content: space-between;
    max-width: 25%;
    padding: 5px 0;
}

.course-students button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.course-students .remove-button {
    background-color: #dc3545;
    color: #fff;
}

.course-students .remove-button:hover {
    background-color: #c82333;
}

.course-students .add-button {
    background-color: #4CAF50;
    color: white;
}

.course-students .add-button:hover {
    background-color: #45a049;
}

.navigation-links {
    margin-top: 20px;
}

.course-instructor select {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #343a40;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.instructor-select:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.instructor-select option {
    padding: 10px;
    color: #495057;
    background-color: #fff;
}

.course-students a {
    text-decoration: none;
    color: #0000FF;
}