.header {
  background-color: #212529;
  color: #FFFFFF;
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  color: white;
  font-weight: 800;
  font-family: '', cursive;
  font-size: 1.7em;
}
.header-left link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
}
.header-left:hover {
  color: #a0a0a0;
}

.logout-button {
  padding: 8px 16px;
  background-color: #E74C3C;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  font-weight: bolder;
  transition: background-color 0.3s ease;
  font-family: 'Courier New', Courier, monospace;
}
.logout-button:hover {
  background-color: #c9302c;
}

.header-center {
  flex: 2;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  font-family: monospace;
}

.header-link {
  text-decoration: none;
  color: #a0a0a0;
  font-weight: bolder;
}
.header-link:hover {
  color: #FFFFFF;
}
.header-link.active {
  color: #FFFFFF
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.logo {
  height: 20px;
}
